<footer class="footer bg-body-tertiary bg-dark py-3 mt-auto" data-bs-theme="dark">
    <div class="container">
        <!-- Additional Information -->
        <p class="text-light text-muted">
            Contact us: support@landfill.com | Phone: (123) 456-7890 <br>
            Address: 123 XYZ..... Street, Cityville, Country <br>
            Available 24/7 for your convenience
        </p>
    </div>
    <span class="text-light text-muted align-items-center">&copy;LandFill</span>
</footer>
