<%- layout(`layouts/boilerplate`) %>
    <div class="row">
        <div class="text-centre">
            <div class="col-6 offset-3">
                <h1>New Campground</h1>
                <form action="/campgrounds" method="post" novalidate class="validated-form"
                    enctype="multipart/form-data">
                    <div class="mb-3">
                        <label class="form-label" for="title">Title</label>
                        <input class="form-control" type="text" name="campground[title]" id="title" required>
                        <div class="invalid-feedback">
                            Please provide a valid name.
                        </div>
                        <div class="valid-feedback">
                            Looks good!
                        </div>
                    </div>

                    <div class="mb-3">

                        <label class="form-label" for="location">Location</label>
                        <input class="form-control" type="text" name="campground[location]" id="location" required>
                        <div class="invalid-feedback">
                            Please provide a valid location.
                        </div>
                        <div class="valid-feedback">
                            Looks good!
                        </div>
                    </div>
                    <div class="mb-3">
                        <label for="formFile" class="form-label">Upload Images</label>
                        <input class="form-control" type="file" id="image" name="image" multiple>
                    </div>
                    <!-- <input type="file" name="image" id="image" multiple> -->
                    <!-- <div class="mb-3">
                        <label class="form-label" for="image">image</label>
                        <input class="form-control" type="text" name="campground[image]" id="image" required>
                        <div class="invalid-feedback">
                            Please provide a valid image link.
                        </div>
                        <div class="valid-feedback">
                            Looks good!
                        </div>
                    </div> -->

                    <div class="mb-3">
                        <label class="form-label" for="price">Campground Price</label>
                        <div class="input-group mb-3">
                            <span class="input-group-text" id="price-label">$</span>
                            <input type="text" id="price" class="form-control" placeholder="0.00" aria-label="price"
                                aria-describedby="price-label" name="campground[price]" required>
                            <div class="invalid-feedback">
                                Please provide a valid price.
                            </div>
                            <div class="valid-feedback">
                                Looks good!
                            </div>
                        </div>
                    </div>


                    <div class="mb-3">
                        <label class="form-label" for="description">Description</label>
                        <textarea class="form-control" type="text" name="campground[description]" id="description"
                            required></textarea>
                        <div class="invalid-feedback">
                            Please provide a valid description.
                        </div>
                        <div class="valid-feedback">
                            Looks good!
                        </div>
                    </div>
                    <button class="btn btn-info">Submit</button>
                </form>
                <div class="mb-3">
                    <a href="/campgrounds">All campgrounds</a>
                </div>
            </div>
        </div>
    </div>