<!-- In views/purchased.ejs -->

<%- layout('layouts/boilerplate') %>

<div class="container mx-auto text-center mt-5">
    <h1 class="display-4 mb-3">Sold Successful!</h1>
    <p class="lead">Thank you for your Selling.</p>

    <!-- Additional styling can be applied here -->

    <a href="/campgrounds" class="btn btn-primary mt-3">Back to Home</a>
</div>
